asgiref==3.5.2
confusable-homoglyphs==3.2.0
distlib==0.3.5
Django==3.2.4
django-crispy-forms==1.14.0
django-registration==3.3
filelock==3.8.0
mysqlclient==2.1.1
Pillow==9.3.0
platformdirs==2.5.2
pytz==2022.6
sqlparse==0.4.3
virtualenv==20.16.3
